# C++ objects and libs
*.exe
*.ilk
*.pdb
*.sdf
*.obj
*.tlog
*.lastbuildstate
*.log
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
#*.dll
*.dylib
*.opensdf

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
